<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" value="notranslate" />
    <title>Andrew Hoefling &amp; Bekah Guss Cruise Wedding @ViewData["Title"]</title>
    <meta property="og:title" content="Andrew Hoefling &amp; Bekah Guss Cruise Wedding" />
    <meta name="author" content="Andrew Hoefling Bekah Guss" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="Andrew Hoefling and Bekah Guss are getting married on November 26 2017 (11/26/17) on Royal Caribbeans Anthem of the Seas. 11/25/17-12/3/17 with ports of call: Port Liberty, NJ. Port Canaveral, FL. CocoCay, Bahamas. Nassau, Bahamas." />
    <meta property="og:description" content="Andrew Hoefling and Bekah Guss are getting married on November 26 2017 (11/26/17) on Royal Caribbeans Anthem of the Seas. 11/25/17-12/3/17 with ports of call: Port Liberty, NJ. Port Canaveral, FL. CocoCay, Bahamas. Nassau, Bahamas." />
    <link rel="canonical" href="http://www.abcruisewedding.com/" />
    <meta property="og:url" content="http://www.abcruisewedding.com" />
    <meta property="og:site_name" content="Andrew Hoefling &amp; Bekah Guss Cruise Wedding" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/foundation/css/foundation.min.css" />
        <link rel="stylesheet" href="~/lib/foundation-icons/foundation-icons.css" />
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" />
        <link rel="stylesheet" href="~/lib/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/topBar.css" />
        <link rel="stylesheet" href="~/css/parallax.css" />
        <link rel="stylesheet" href="~/css/story.css" />
        <link rel="stylesheet" href="~/css/wedding.css" />
        <link rel="stylesheet" href="~/css/destination.css" />
        <link rel="stylesheet" href="~/css/itinerary.css" />
        <link rel="stylesheet" href="~/css/rsvp.css" />
        <link rel="stylesheet" href="~/css/registry.css" />
        <link rel="stylesheet" href="~/css/gallery.css" />
        <!-- We need to fix minifing the files -->
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/foundation/css/foundation.min.css" />
        <link rel="stylesheet" href="~/lib/foundation-icons/foundation-icons.css" />
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" />
        <link rel="stylesheet" href="~/lib/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/dt-1.10.16/datatables.min.css"/>    
</head>
<body>
    <div class="hack-mobile-sticky" data-sticky-container>
        <div class="title-bar" data-sticky data-responsive-toggle="menu" data-show-for="small">
            <button class="menu-icon" type="button" data-toggle="menu"></button>
            <div class="title-bar-title playfair-display">Rebekah &amp; Andrew</div>
        </div>
        <div class="top-bar" data-sticky data-margin-top="0" id="menu">
            <div class="show-for-small-only">
                <ul class="mobile vertical menu">
                    <li><a href="#story">Story</a></li>
                    <li><a href="#wedding">Reception</a></li>
                    <li><a href="#itinerary">Map</a></li>
                    <li><a href="#rsvp">RSVP</a></li>
                    <li><a href="#registry">Registry</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                </ul>
            </div>
            <div class="hide-for-small-only">
                <div class="columns large-4">
                    <div class="float-right">
                        <ul class="desktop menu karla" data-magellan>
                            <li><a href="#story">Story</a></li>
                            <li><a href="#wedding">Reception</a></li>
                            <li><a href="#itinerary">Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="columns large-4 title playfair-display">
                    Rebekah <span>&amp;</span> Andrew
                </div>
                <div class="columns large-4">
                    <div class="float-left">
                        <ul class="desktop menu karla" data-magellan>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="#registry">Registry</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>     
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/foundation/js/vendor/jquery.js"></script>
        <script src="~/lib/foundation/js/vendor/foundation.min.js"></script>        
        <script src="~/lib/foundation/js/vendor/what-input.js"></script>
        <script src="~/lib/foundation/js/app.js"></script>
        <script src="~/lib/openlayers/ol-debug.js"></script>
        <script src="~/lib/slick/slick.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/itineraryMap.js" asp-append-version="true"></script>
        <script src="~/js/gallery.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/foundation/js/vendor/jquery.js"></script>
        <script src="~/lib/foundation/js/vendor/foundation.min.js"></script>        
        <script src="~/lib/foundation/js/vendor/what-input.js"></script>
        <script src="~/lib/foundation/js/app.js"></script>
        <script src="~/lib/openlayers/ol.js"></script>
        <script src="~/lib/slick/slick.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript" src="https://cdn.datatables.net/v/zf/dt-1.10.16/datatables.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
