<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AB Cruise Wedding</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/foundation/css/foundation.min.css" />
        <link rel="stylesheet" href="~/lib/foundation-icons/foundation-icons.css" />
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/topBar.css" />
        <link rel="stylesheet" href="~/css/parallax.css" />
        <link rel="stylesheet" href="~/css/story.css" />
        <link rel="stylesheet" href="~/css/wedding.css" />
        <link rel="stylesheet" href="~/css/destination.css" />
        <link rel="stylesheet" href="~/css/itinerary.css" />
        <link rel="stylesheet" href="~/css/rsvp.css" />
        <link rel="stylesheet" href="~/css/registry.css" />
        <!-- We need to fix minifing the files -->
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/foundation/css/foundation.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="hack-mobile-sticky" data-sticky-container>
        <div class="title-bar" data-sticky data-responsive-toggle="menu" data-show-for="small">
            <button class="menu-icon" type="button" data-toggle="menu"></button>
            <div class="title-bar-title playfair-display">Rebekah &amp; Andrew</div>
        </div>
        <div class="top-bar" data-sticky data-margin-top="0" id="menu">
            <div class="show-for-small-only">
                <ul class="mobile vertical menu">
                    <li><a>Story</a></li>
                    <li><a>Wedding</a></li>
                    <li><a>Itinerary</a></li>
                    <li><a>RSVP</a></li>
                    <li><a>Registry</a></li>
                    <li><a>Message Board</a></li>
                </ul>
            </div>
            <div class="hide-for-small-only">
                <div class="columns large-4">
                    <div class="float-right">
                        <ul class="desktop menu karla" data-magellan>
                            <li><a href="#story">Story</a></li>
                            <li><a href="#wedding">Wedding</a></li>
                            <li><a href="#itinerary">Itinerary</a></li>
                        </ul>
                    </div>
                </div>
                <div class="columns large-4 title playfair-display">
                    Rebekah <span>&amp;</span> Andrew
                </div>
                <div class="columns large-4">
                    <div class="float-left">
                        <ul class="desktop menu karla" data-magellan>
                            <li><a href="#rsvp">RSVP</a></li>
                            <li><a href="#registry">Registry</a></li>
                            <li><a href="#message-board">Message Board</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>     
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/foundation/js/vendor/jquery.js"></script>
        <script src="~/lib/foundation/js/vendor/foundation.min.js"></script>        
        <script src="~/lib/foundation/js/vendor/what-input.js"></script>
        <script src="~/lib/foundation/js/app.js"></script>
        <script src="~/lib/openlayers/ol-debug.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/itineraryMap.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/foundation/vendor/jquery.js"></script>
        <script src="~/lib/foundation/vendor/foundation.min.js"></script>        
        <script src="~/lib/foundation/vendor/what-input.js"></script>
        <script src="~/lib/foundation/js/app.js"></script>
        <script src="~/lib/openlayers/ol.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
