<div class="destination">
    <div class="row small-up-1 medium-up-2 large-up-2">
        <div class="column column-block">
            <div class="card">
                <img src="/images/beach-destination.jpg" />
                <div class="card-divider">
                    <h3>The Cruise</h3>
                </div>
                <div class="card-section">
                    <ul>
                        <li><img src="/images/icons/date.svg" />11/25/2017 - 12/3/2017</li>
                        <li data-open="destination-details-modal"><a><img src="/images/icons/ship.svg" />Anthem of the Seas</a></li>
                        <li data-open="travel-agent-modal"><a><img src="/images/icons/contact.svg" />Jason Poole</a></li>
                    </ul>
                    <div class="reveal destination-reveal" id="travel-agent-modal" data-reveal>
                        <h1>Travel Agent Contact</h1>
                        <hr />
                        <ul>
                            <li><i class="fi-torso"></i>Jason Poole</li>
                            <li><i class="fi-telephone"></i>615-497-9063</li>
                            <li><i class="fi-address-book"></i>jason.poole<i class="fi-at-sign"></i>cruiseplanners.com</li>
                        </ul>
                        <button class="close-button" data-close aria-label="Close Modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="reveal destination-reveal" id="destination-details-modal" data-reveal>
                        <h1>Cruise Vacation Details</h1>
                        <hr />
                        <ul>
                            <li><img src="/images/icons/ship.svg" />Anthem of the Seas</li>
                            <li><i class="fi-anchor"></i>Royal Carribean International</li>                            
                            <li><i class="fi-map"></i>Port Liberty, New Jersey, USA</li>
                        </ul>
                        <button class="close-button" data-close aria-label="Close Modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="column column-block">
             <div class="card">
                <img src="/images/beach-destination.jpg" />
                <div class="card-divider">
                    <h3>The Ceremony</h3>
                </div>
                <div class="card-section">
                    <ul>
                        <li data-open="ceremony-details-modal"><img src="/images/icons/date.svg" />November 26th 2017</li>
                        <li data-open="ceremony-details-modal"><img src="/images/icons/clock.svg" />To Be Announced</a></li>
                        <li data-open="ceremony-details-modal"><img src="/images/icons/location.svg" /> On the Ship</a></li>
                    </ul>
                    <div class="reveal destination-reveal" id="ceremony-details-modal" data-reveal>
                        <h1>Ceremony Details</h1>
                        <hr />
                        <div class="row">
                            We are currently still working with our Travel Agent and the cruise line to determine the exact location and venue on the ship. Once we have that information we will be updating the website, please check back soon.
                        </div>
                        <div class="row signature">
                            -Andrew &amp; Bekah
                        </div>
                        <button class="close-button" data-close aria-label="Close Modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>