<div class="forum">
    <div class="row">
        <h1>Message Board</h1>
        <p>Use this message board to set up any arrangements to room together on the cruise, etc.</p>
    </div>
    <div class="row">
        <a data-open="forum-modal">View Message Board<img src="/images/right_arrow.svg" /></a>
        <div class="reveal destination-reveal" id="forum-modal" data-reveal>
            <h1>Message Board</h1>
            <hr />
            <div class="row">
                The message board is still under construction please check back soon.
            </div>
            <div class="row signature">
                -Andrew &amp; Bekah
            </div>
            <button class="close-button" data-close aria-label="Close Modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>