<div class="forum">
    <div class="row">
        <h1>Message Board</h1>
        <p>Use this message board to set up any arrangements to room together on the cruise, etc.</p>
    </div>
    <div class="row">
        <a href="#">View Message Board<img src="/images/right_arrow.svg" /></a>
    </div>
</div>