<div class="gallery">
    <div class="row">
        <h1>Image Gallery</h1>
        <div class="card">
            <div id="gallery-wrapper" class="row">
            </div>
            <div class="row">
                <hr />         
                <ul class="hide-for-small-only horizontal menu">
                    <li><a onclick="galleryControl.update('Engagement');">Engagement</a></li>
                    <li><a onclick="galleryControl.update('Wedding');">Wedding</a></li>
                    <li><a onclick="galleryControl.update('Group Shots');">Group Shots</a></li>
                    <li><a onclick="galleryControl.update('Misc.');">Misc.</a></li>
                </ul>           
                <ul class="hide-for-medium vertical menu">
                    <li><a onclick="galleryControl.update('Engagement');">Engagement</a></li>
                    <li><a onclick="galleryControl.update('Wedding');">Wedding</a></li>
                    <li><a onclick="galleryControl.update('Group Shots');">Group Shots</a></li>
                    <li><a onclick="galleryControl.update('Misc.');">Misc.</a></li>
                </ul>           
            </div>
        </div>
    </div>
</div>
