@using ABCruiseWedding.Models
@model IGalleryModel

<div class="gallery">
    <div class="row">
        <h1>Image Gallery</h1>
        <div class="card">
            <div id="gallery-wrapper" class="row">
            </div>
            <div class="row">
                <hr />         
                <ul class="hide-for-small-only horizontal menu">
                    @foreach(var category in Model.GalleryCategories)
                    {
                        <li><a onclick="galleryControl.update('@category');">@category</a></li>
                    }
                </ul>           
                <ul class="hide-for-medium vertical menu">
                    @foreach(var category in Model.GalleryCategories)
                    {
                        <li><a onclick="galleryControl.update('@category');">@category</a></li>    
                    }
                </ul>           
            </div>
        </div>
    </div>
</div>
