<div class="gallery">
    <div class="row">
        <h1>Image Gallery</h1>
        <div class="card">
            <div class="row">
                <div class="float-left arrow">
                    <i class="fi-arrow-left"></i>
                </div>
                <img class="thumbnail main" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                <div class="float-right arrow">
                    <i class="fi-arrow-right"></i>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="columns small-6 medium-3">
                    <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                </div>
                <div class="columns small-6 medium-3">
                    <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                </div>
                <div class="columns small-6 medium-3">
                    <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                </div>
                <div class="columns small-6 medium-3">
                    <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="columns small-3">
                    <a href="#">Engagement</a>
                </div>
                <div class="columns small-3">
                    <a href="#">Wedding</a>
                </div>
                <div class="columns small-3">
                    <a href="#">Group Shots</a>
                </div>
                <div class="columns small-3">
                    <a href="#">Misc.</a>
                </div>
            </div>
        </div>
    </div>
</div>