<div class="gallery">
    <div class="row">
        <h1>Image Gallery</h1>
        <div class="card">
            <div class="row">
                <!-- <div class="float-left arrow">
                    <i class="fi-arrow-left"></i>
                </div> -->


                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                    <div class="orbit-wrapper">
                        <div class="orbit-controls">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="fi-arrow-left"></i></button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="fi-arrow-right"></i></button>
                        </div>
                        <ul class="orbit-container">
                            <li class="is-active orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Encapsulating</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Outta This World</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Outta This World</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <img class="orbit-image" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" alt="Space">
                                    <figcaption class="orbit-caption">Outta This World</figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="hide-for-small-only">
                        <!-- TODO - Update this to use slick carousel -->
                        <hr />
                        <div class="orbit-bullets">
                            <button data-slide="0">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                            <button data-slide="1">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                            <button data-slide="2">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                            <button data-slide="3">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                            <button data-slide="4">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                            <button data-slide="5">
                                <img class="thumbnail" src="https://abcruisewedding.blob.core.windows.net/photos/cruise_002.jpg" />
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                    <div class="columns small-1 medium-3">
                        <a href="#">Engagement</a>
                    </div>
                    <div class="columns small-1 medium-3">
                        <a href="#">Wedding</a>
                    </div>
                    <div class="columns small-1 medium-3">
                        <a href="#">Group Shots</a>
                    </div>
                    <div class="columns small-1 medium-3">
                        <a href="#">Misc.</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>