<div class="itinerary row">
    <div class="card">
        <div class="columns large-5 small-12">
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Port Liberty, NJ - Day 1</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>[Location and Time] 1
                                <ul>
                                    <li>[Some information about event]</li>
                                    <li><a>some link about event</a></li>
                                </ul>
                            </li>
                            <li>[Location and Time] 2
                                <ul>
                                    <li>[Some information about event]</li>
                                    <li><a>some link about event</a></li>
                                </ul>
                            </li>
                            <li>[Location and Time] 3
                                <ul>
                                    <li>[Some information about event]</li>
                                    <li><a>some link about event</a></li>
                                </ul>
                            </li>
                            <li>[Location and Time] 4
                                <ul>
                                    <li>[Some information about event]</li>
                                    <li><a>some link about event</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Wedding - Day 2</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Port Canaveral, FL - Day 3</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">CocoCay, Bahamas - Day 4</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Nassau, Bahamas - Day 5</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day at Sea - Day 6</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day at Sea - Day 7</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Port Liberty, NJ - Day 8</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="columns large-7 small-12">
            <iframe width="550" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&ol&l&mc&lat=33.919158722822225&lng=-74.69906475419924&vz=5&type=mb_pirate&ti&s&width=550&height=1000&id=acZxxQwAf9" style="border:0;max-height:1000px; max-width: 100%;" allowfullscreen></iframe>
        </div>
    </div>
</div>