<div class="itinerary row">
    <div class="card">
        <div class="columns large-5 medium-12 small-12">
            <ul class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$campBrockway);">
                    <a href="#" class="accordion-title">Reception - Camp Brockway</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>Location
                                <ul>
                                    <li>7673 Pratts Falls Rd, Manlius, NY 13104</li>
                                    <li>Manlius, NY 13104</li>
                                </ul>
                            </li>
                            <li>Time
                                <ul>
                                    <li>Noon - 4:00 PM</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$delLago);">
                    <a href="#" class="accordion-title">Hotel - Del Lago</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>Location
                                <ul>
                                    <li>1133 NY-414</li>
                                    <li>Waterloo, NY 13165</li>
                                </ul>
                            </li>
                            <li>Group Booking
                                <ul>
                                    <li>10 rooms available at rate</li>
                                    <li>$150/night</li>
                                    <li>Call Ipsum Lorem @@ <a>(123) 456-7890</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="columns large-7 medium-12 small-12 hide-for-small-only">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>