<div class="itinerary row">
    <div class="card">
        <div class="columns large-4 small-12">
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Day 1 - Cape Liberty, NJ, USA - All Aboard</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 2 - Wedding</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 3 - Orlando, FL, USA (Port Canaveral)</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 4 - Cococay, Bahamas</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 5 - Nassau, Bahamas</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 6 - Day at Sea</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 7 - Day at Sea</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 8 - Cape Liberty, NJ, USA</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="columns large-8 small-12">
        </div>
    </div>
</div>