<div class="itinerary row">
    <div class="card">
        <div class="columns large-5 medium-12 small-12">
            <ul class="accordion" data-accordion>
                <li class="accordion-item is-active" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$newYork);">
                    <a href="#" class="accordion-title">Port Liberty, NJ - Day 1</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>All Aboard
                                <ul>
                                    <li>Terminal Building</li>
                                    <li>3:00 PM</li>
                                    <li><a href="http://www.cruiseliberty.com/">Website</a></li>
                                </ul>
                            </li>
                            <li>Dinner
                                <ul>
                                    <li>8:15 pm</li>
                                    <li><a>Main Dining Hall</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Wedding - Day 2</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>Ceremony
                                <ul>
                                    <li>5:00 pm - 7:00 pm @@ Music Hall</li>
                                    <li><a>Coffee, Tea and Cake will be served</a></li>
                                </ul>
                            </li>
                            <li>Reception
                                <ul>
                                    <li>8:00 pm - 11:00 pm @@ Solarium</li>
                                    <li><a>Heavy Hors d'oeuvre and drinks</a></li>
                                    <li><a>Open Bar</a></li>
                                </ul>
                            </li>
                            <li>Dancing
                                <ul>
                                    <li>11:00 pm - ??</li>
                                    <li><a>Wherever they are playing music</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$florida);">
                    <a href="#" class="accordion-title">Port Canaveral, FL - Day 3</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>Marital Bliss
                                <ul>
                                    <li>Bride and Groom Day</li>
                                    <li><a>The Bride and Groom will be spending the day in each others company</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$cococay, 15);">
                    <a href="#" class="accordion-title">CocoCay, Bahamas - Day 4</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>First Tender
                                <ul>
                                    <li>9:30 am</li>
                                    <li><a>There is no dock big enough for the cruise ship at this port, you will have to take a small tender boat to get on and off the island</a></li>
                                </ul>
                            </li>
                            <li>Drinks and Food
                                <ul>
                                    <li>Provided by Royal Carribean</li>
                                    <li><a>Beverage packages work on the island. There should be a lunch buffet provided by Royal Carribean</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$nassau, 12);">
                    <a href="#" class="accordion-title">Nassau, Bahamas - Day 5</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>1990 Sail Away Party
                                <ul>
                                    <li>5:30 pm - 6:00 pm</li>
                                </ul>
                            </li>
                            <li>Spectre Cabaret
                                <ul>
                                    <li>Two70</li>
                                    <li>7:00 pm</li>
                                    <li>Reservations made for everyone</li>
                                </ul>
                            </li>
                            <li>Late Night Adult Commedy
                                <ul>
                                    <li>11:45 pm</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day at Sea - Day 6</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>BINGO DAY
                                <ul>
                                    <li>10:45 get cards at 10:30</li>
                                </ul>
                            </li>
                            <li>We Will Rock You
                                <ul>
                                    <li>Royal Theatre</li>
                                    <li>2:30 pm</li>
                                    <li>Reservations made for everyone</li>
                                </ul>
                            </li>
                            <li>Bumper Cars
                                <ul>
                                    <li>4:00 pm - 7:00 pm</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day at Sea - Day 7</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>BINGO DAY
                                <ul>
                                    <li>2:00 pm</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item onclick="itineraryMap.panMap(itineraryMap.$newYork);">
                    <a href="#" class="accordion-title">Port Liberty, NJ - Day 8</a>
                    <div class="accordion-content" data-tab-content>
                        <ul>
                            <li>Disembark and Customs
                                <ul>
                                    <li>TBD</li>
                                    <li><a data-open="itinerary-details-modal">Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="reveal destination-reveal" id="itinerary-details-modal" data-reveal>
                <h1>Itinerary Details</h1>
                <hr />
                <div class="row">
                    We are currently still working with our Travel Agent to determine the daily itinerary. Once we have that information we will be updating the website, please check back soon.
                </div>
                <div class="row signature">
                    -Andrew &amp; Bekah
                </div>
                <button class="close-button" data-close aria-label="Close Modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="columns large-7 medium-12 small-12 hide-for-small-only">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>