<div class="itinerary row">
    <div class="card">
        <div class="columns large-4 small-12">
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title">Day 1 - Cape Liberty, NJ, USA - All Aboard</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 2 - Wedding</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 3 - Orlando, FL, USA (Port Canaveral)</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 4 - Cococay, Bahamas</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 5 - Nassau, Bahamas</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 6 - Day at Sea</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 7 - Day at Sea</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Day 8 - Cape Liberty, NJ, USA</a>
                    <div class="accordion-content" data-tab-content>
                        <p>put a description here</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="columns large-8 small-12">
            <iframe width="550" height="400" frameborder="0" src="https://widgets.scribblemaps.com/sm/?d&z&ol&l&mc&lat=33.919158722822225&lng=-74.69906475419924&vz=5&type=mb_pirate&ti&s&width=550&height=1000&id=acZxxQwAf9" style="border:0;max-height:1000px; max-width: 100%;" allowfullscreen></iframe>
        </div>
    </div>
</div>