<div class="registry">
    <div class="row">
        <h1>Registry</h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="row columns small-up-1 medium-up-2 large-up-4">
                <div class="column">
                    <img src="/images/registry-1.jpg" />
                </div>
                <div class="column">
                    <img src="/images/registry-2.jpg" />
                </div>
                <div class="column">
                    <img src="/images/registry-3.jpg" />
                </div>
                <div class="column">
                    <img src="/images/registry-4.jpg" />
                </div>
            </div>
            <div class="card-divider">
                <h3><img src="/images/icons/RCI_Flag.svg" />Royal Carribean Registry</h3>
            </div>
            <div class="card-section">
                <ul>
                    <li data-open="registry-details-modal"><i class="fi-clipboard-notes"></i>Registry Link</li>
                </ul>
            </div>
            <div class="reveal destination-reveal" id="registry-details-modal" data-reveal>
                <h1>Ceremony Details</h1>
                <hr />
                <div class="row">
                    We are currently still working on our wedding registry and we will have links posted once everything is setup. The registry will consist of different things people can get us while we are on our cruise.
                </div>
                <div class="row">
                    Take a look at this example registry for ideas of what may be on our actual registry <a href="http://www.royalcaribbeanhoneymoon.com/Honeymoon-Registry-217881-Royal-Caribbean-International-Cruise-Quantum-of-the-Seas-Alaina-Trujillo-Jonah-Franklin.html">Example Registry</a>
                </div>
                <div class="row signature">
                    -Andrew &amp; Bekah
                </div>
                <button class="close-button" data-close aria-label="Close Modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>