@using System
@using ABCruiseWedding.Models
@model IndexModel

<div class="story">
    <h1 class="playfair-display-italic">We got married!</h1>
    <h2 class="playfair-display">How it happened</h2>
    <div class="row">
        <a class="thumbnail"><img alt="we're getting married" src="/images/savethedate.png" /></a>
    </div>
    <div class="row">
        <div class="columns large-6">    
            <h1>Rebekah Guss <span>(Bride)</span></h1>            
        </div>
        <div class="columns large-6">
            <h1>Andrew Hoefling <span>(Groom)</span></h1>        
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="columns large-6">
            <p>Both their lives have been filled with crazy adventures - so its no surprise that their journey will begin on one.</p>
            <p>Originally, they were supposed to go on a cruise in January, but two weeks before their departure date, a call from Andrew's work lead to the canceling of that reservation and changing to a cruise in late April. It was a whirlwind of emotions, but little did they know how perfectly it would work out.</p>
            <p>The later departure allowed us to settle into our new life together in Rochester as we had just moved in together in December. With everything falling into place, we began to talk about marriage and began ring shopping. We found the perfect ring and Andrew knew he now had the upper hand to completely surprise Rebekah with a grand romantic gesture and he knew the cruise in April would be the perfect opportunity.</p>
            <p>Rebekah hadn't been on a cruise since she was a teenager, so she was distracted by all of the luxuries a cruise ship offers as well as their amazing destination of Cuba to even imagine what Andrew had in mind. He walked her around all the decks that first day they boarded to get them "aquainted" with the ship - the perfect ruse.</p>
        </div>
        <div class="columns large-6">
            <p>They changed for dinner and met their friends for the typical high caliber dining found on a cruise ship. Slightly drunk on extravagance, they excused themselves after dinner as Andrew suggested they take a walk before they went to bed.</p>
            <p>The sun had set, and most people were out in the clubs celebrating the first night at sea as they headed to the bow of the ship. Andrew led the way up a few stair cases to a quiet, dark deck where they could look at the stars and feel the wind from the ocean.</p>
            <p>As Rebekah marveled at the stars and their voyage, Andrew seized the moment and dropped to his knee and said, " I'm not sure how to ask you, other than to just say, 'Will you marry me?'" And with a squeal of excitement and emphatic, "Of course!" their new adventure began.</p>
        </div>        
    </div>
    <div class="row">
        <a class="link" href="#gallery" data-magellan>Goto Gallery of Photos<img src="/images/right_arrow.svg" /></a>
    </div>
</div>