@model ABCruiseWedding.Models.CountdownModel

<div class="wedding">
    <h2 class="playfair-display">Our Wedding</h2>
    <h1 class="playfair-display-italic">Sunday, <span>26 November</span> 2017</h3>
    <div class="row">
        <hr />
        <div class="row small-up-2 medium-up-4 large-up-4">
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-days">@Model.Days</h2>
                    <h1>DAYS</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-hours">@Model.Hours</h2>
                    <h1>HOURS</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-minutes">@Model.Minutes</h2>
                    <h1>MINUTES</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-seconds">@Model.Seconds</h2>
                    <h1>SECONDS</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="row">
        <p>Vivamus est elit, posuere et urna id, ultricies condimentum dolor. Maecenas convallis leo in dolor accumsan, molestie faucibus mauris pulvinar. Praesent tristique arcu neque, eu efficitur dolor eleifend vitae. Sed scelerisque mauris quis tellus congue commodo. Suspendisse sapien lectus, fermentum dictum tortor non, posuere sollicitudin diam. Cras mollis lectus vitae velit mollis, ullamcorper interdum dolor blandit. Etiam at maximus nunc, eu sagittis libero.</p>
    </div>
</div>