@model ABCruiseWedding.Models.CountdownModel

<div class="wedding">
    <h2 class="playfair-display">The Reception</h2>
    <h1 class="playfair-display-italic">Saturday, <span>12 May</span> 2018</h3>
    <div class="row">
        <hr />
        <div class="row small-up-2 medium-up-4 large-up-4">
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-days">@Model.Days</h2>
                    <h1>DAYS</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-hours">@Model.Hours</h2>
                    <h1>HOURS</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-minutes">@Model.Minutes</h2>
                    <h1>MINUTES</h1>
                </div>
            </div>
            <div class="column column-block">
                <div class="countdown-item">
                    <h2 id="countdown-seconds">@Model.Seconds</h2>
                    <h1>SECONDS</h1>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>