@using ABCruiseWedding.Models
@using System.Collections.Generic
@model IEnumerable<ImageModel>

<div class="orbit" id="orbit-gallery" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="fi-arrow-left"></i></button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="fi-arrow-right"></i></button>
        </div>
        <ul class="orbit-container">
            @foreach(var image in @Model)
            {
                <li class="orbit-slide">                
                    <figure class="orbit-figure">
                        <img class="orbit-image" src="@image.MediumUri" alt="Space">
                        @*<figcaption class="orbit-caption">@image.Category</figcaption>*@
                    </figure>
                </li>
            }
        </ul>
    </div>
    <div class="hide-for-small-only">
        <hr />
        <div id="gallery-thumbnail-carousel" class="orbit-bullets">
            @{
                var images = Model.ToArray();
                for (int index = 0; index < images.Length; index++)
                {
                    <button data-slide="@index">
                        <img class="thumbnail" src="@images[index].Thumbnail" />
                    </button>
                }
            }
        </div>
    </div>
</div>