@{
    ViewData["Title"] = "Home Page";
}
<div class="sections">
    <section id="first" data-magellan-target="first">first section</section>
    <section id="second" data-magellan-target="second">second section</section>
    <section id="third" data-magellan-target="third">third section</section>
</div>