.destination .card-divider h3{
    font-family: "PlayfairDisplay-Black";
    text-align: center;
    color: #474747;
}

.destination ul {
    list-style: none;
    width:76%;
    margin:auto;
}

.destination ul li img {
    margin-right: 20px;    
    width: 30px;
    height: 30px;

}

.destination ul li {
    font-family: "Karla";
    font-size: 30px;
    color: #65645f;
    margin-top:8px;
    margin-bottom: 8px;
}

@media (max-width: 640px) {
    .destination ul li {
        font-size: 20px;
    }
    .destination .card-divider h3{
        font-size: 30px;
    }
}

@media (min-width: 641px) and (max-width:1039px){
    .destination ul li {
        font-size: 20px;
    }
    .destination .card-divider h3{
        font-size: 30px;
    }
    .destination ul {
        width:90%;
    }
}