.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery h1 {
    font-family: "PlayfairDisplay-Black";
    color: #4e4e4e;
    font-size:2.1875rem;
    text-align: center;   
    margin-bottom: 25px;
}

.gallery .row p{
    text-align: center;
    color:#777673;
    font-family: "Karla";
}

.gallery .row {
    text-align: center;    
}

.gallery .row a {
    text-decoration: none;
    color: #df6b72;
    font-family: "Karla";
    font-size:1.5rem;
    padding:.5em;
}

.gallery .row a:hover {
    background-color: #f0f0f0;
}

.gallery .card {
    padding: 2em;
}

.gallery img.main {
    height: 40em;
}

.gallery i {
    color: #df6b72;
    font-size: 5em;
}

.gallery i {
    cursor: pointer;
}

.gallery .arrow {
    height: 1em;
    margin-top: 20%;
    margin-bottom: 20%;
}