body {
    width: 100%;
    margin: auto;
    background-color:transparent;
}

@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url("/css/fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Italic";
    src: url("/css/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype");
}

.playfair-display {
    font-family: "PlayfairDisplay-Black";
}

.playfair-display-italic {
    font-family: "PlayfairDisplay-Italic";
}

@font-face {
    font-family: "Karla";
    src: url("/css/fonts/Karla/Karla-Regular.ttf") format("truetype");
}

.karla {
    font-family: "Karla";
}

.story {
    text-align: center;
}

.story h1 {
    color:#df6b72;    
}

.story h2 {
    color: #474747;
}