body {
    width: 100%;
    margin: auto;
    background-color:transparent;
}

@font-face {
    font-family: "PlayfairDisplay-Black";
    src: url("/css/fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Italic";
    src: url("/css/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("/css/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}

.playfair-display {
    font-family: "PlayfairDisplay-Black";
}

.playfair-display-italic {
    font-family: "PlayfairDisplay-Italic";
}

@font-face {
    font-family: "Karla";
    src: url("/css/fonts/Karla/Karla-Regular.ttf") format("truetype");
}

.karla {
    font-family: "Karla";
}

p{
    font-family: "Karla";
}










table.cards {
    background-color: transparent;
}

/*--[  This does the job of making the table rows appear as cards ]----------------*/
.cards tbody img {
    height: 15em;
}

.cards tbody tr {
    float: left;
    margin: 2em;
    border: 1px solid #aaa;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    background-color: white;
    width: 17em;
}

.cards tbody td {
    display: block;
    width: 16em;
    overflow: hidden;
    text-align: left;
}

/*---[ The remaining is just more dressing to fit my preferances ]-----------------*/
.table {
    background-color: #fff;
}

    .table tbody label {
        display: none;
        margin-right: 5px;
        width: 50px;
    }

    .table .glyphicon {
        font-size: 20px;
    }

.cards .glyphicon {
    font-size: 75px;
}

.cards tbody label {
    display: inline;
    position: relative;
    font-size: 85%;
    font-weight: normal;
    top: -5px;
    left: -3px;
    float: left;
    color: #808080;
}

.cards tbody td:nth-child(1) {
    text-align: center;
}

.cards tr > td:hover{
    cursor:pointer;
}
