.story {
    text-align: center;
}

.story h1 {
    color:#df6b72;    
}

.story h2 {
    color: #474747;
}

.story .row {
    text-align: left;
}

.story .row .thumbnail {
    width: 75%;
    margin:auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.story .columns h1 {
    color:#474747;
    font-family: "PlayfairDisplay-Black";
    text-align: center;
}

.story .columns h1 span{
    font-family: "PlayfairDisplay-Italic";
}

.story .link {
    width: 75%;
    margin:auto;
    display: block;
    text-align: center;
    color: #df6b72;
    font-family: "Karla";
    font-size:30px;
    margin-bottom:70px;
}